<form>
    <strong>Filter Data</strong>:
    <input type="text" [value]="grid.filter" (input)="filter.emit($event.target.value)" />
    <span *ngIf="grid.filter">
        &mdash; Filtering
        <strong>{{ grid.filter }}</strong>
        over {{ grid.dataPoints }} data points, {{ grid.visibleCount }} found.
    </span>
    <a *ngIf="grid && grid.data.length" (click)="unmount.emit()">Unmount Grid</a>
    <a *ngIf="!(grid && grid.data.length)" (click)="mount.emit()">Remount Grid</a>
</form>
<table width="100%" cellspacing="2" [class.filtered]="grid.filter">
    <tr *ngFor="#row of grid.data">
        <td>
            {{ row.id }}
        </td>
        <td *ngFor="#item of row.items" class="item" [class.hidden]="item.isHiddenByFilter">
            {{ item.value }}
        </td>
    </tr>
</table>
